$white: #F9F9F9;
$black: #1E1E1E;
$blue-focus: #3F68CF;
$color-placeholder: #8C8C8C;

.input_wrapper{
  position: relative;
  .input-base{
    background: $white;
    border: 2px solid $black;
    border-radius: 12px;
    height: 40px;
    width: 240px;
    font-size: 16px;
    padding-right: 20px;
    font-weight: 500;
    color: $black;
    transition: ease-in-out 0.15s;
    &:focus {
      border-color: $blue-focus;
    }
    &::placeholder{
      color: $color-placeholder;
      opacity: 0;
      transition: ease-in-out 0.15s;
    }
    &.placeholder::placeholder{
      opacity: 1;
    }
  }

  .input-icon{
    pointer-events: none;
    position: absolute;
    top: 26%;
    left: 20px;
    opacity: 0;
    transition: ease-in-out 0.1s;
  }

  .input-label{
    pointer-events: none;
    position: absolute;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    background: $white;
    padding: 0 8px;
    left: 14px;
    top: 24%;
    transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1),color 150ms cubic-bezier(0.4, 0, 0.2, 1);
    color: $black;
    &.input-label-focus{
      transform: translateY(-19px) translateX(-7px) scale(0.8);
    }

    &.focus-label{
      color: $blue-focus;
    }
  }

  .input-label-focus + .input-icon {
    opacity: 1;
  }
}


